@import "tailwindcss";

@theme {
  --color-primary: #4f46e5;
  --color-secondary: #10b981;
  --color-dark: #1f2937;
  --color-light: #f3f4f6;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 font-sans;
  }
}
